.Monita {
    background-color: rgb(0, 0, 0);
    background-image: url(./assets/images/historic-destinations.png);
    @apply py-[3.12rem] px-[1.5rem] bg-cover bg-center bg-contain bg-no-repeat
}

.monita-container {
    outline: 0.1rem solid #262C31;
    @apply flex flex-col gap-[1.56rem]
}

.monita-image {
    @apply h-[11.25rem]
}

.monita-heading {
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Manrope', sans-serif;
    @apply font-bold text-[2.25rem] text-center text-white
}

.monita-text{
    @apply text-white text-center font-normal text-[1.1rem] 
}

.monita-from{
    @apply text-center text-white font-semibold text-[1.112rem]
}

.dot-container {
    @apply w-[100%] flex justify-center mt-[1rem]
}